@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

$raleway: "Raleway", sans-serif;
$muli: 'Muli', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small {
	font-family: $raleway;
	color: $darker-gray;
}
