button {
  text-align: center;
  padding: 0.65rem 1.5rem;
  font-size: 1em;
  background: $brand-color;
  color: white;
  margin: 2em auto 0;
  border: none;
  border-radius: 30px;

  button:hover {
    background: $secondary-color;
  }
}

.large-btn {
  width: 100%;
}

.small-btn {
  width: 50%;
}

.social-media-btn {
  width: 3rem;
  text-align: center;
}

.google {
  background: #df4930;
}

.facebook {
  background: #507cc0;
}

.close-btn {
  color: $brand-color; 
}

.go-back {
  justify-content: center;
  padding-top: .6rem;
}
