.logo {
	font-family: $raleway;
	color: $brand-color;
	text-align: center;
}

.full-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $brand-color;

	h1 {
		margin-left: .7rem;
	}
}
