.row {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-content: center;
  width: 100vw;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.wrapper {
  background-color: white;
  padding: 1rem;
}

.justify-between {
  justify-content: space-between;
}
