.task {
	color: $dark-gray;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $light-gray;

	&__main {
		display: flex;
		justify-content: space-evenly;
		width: 100%;

		&__content {
			width: 80%;
		}
	}

	&__row {
		justify-content: space-between;
	}

	&__price h5 {
		color: $secondary-color;
		text-align: right;
	}

	&__details {
		font-size: 0.65rem;
		padding: 0.5rem 0;
		display: flex;

		div {
			color: $medium-gray;
			padding-right: 1rem;
		}
	}
	@media (min-width: 992px) {
		padding: 1rem 4rem;
	}
}

.details {
	align-items: initial;
	&__header {
		padding: 1rem;
		text-align: center;
		width: 40%;
		color: $darker-gray;
		border-bottom: 1px solid $light-gray;

		&--middle {
			border-left: 1px solid $light-gray;
			border-right: 1px solid $light-gray;
		}
	}

	&__pin {
		width: 20%;
		background: $dark-gray;
		color: white;
	}

	&__description {
		padding: 1rem;
		line-height: 2rem;
	}
}
